  include *.txt
  include LICENSE
  include Makefile
  include mypy.ini
  include .pre-commit-config.yaml
  include .flake8
  include .isort.cfg
  recursive-include examples *.ipynb
  recursive-include images *.jpeg
  recursive-include images *.png
  recursive-include images *.txt
  recursive-include src *.typed
  recursive-include tests *.py